{% extends 'base.html' %}

{% block content %}
<div class="p-4 bg-light shadow mb-4">
    <h1>Booking History</h1>
</div>

<div class="container-fluid">

    <!-- Placeholder booking card -->

    <div class="row justify-content-center">

        <div class="col-md-8 col-sm-10 col-12 mb-4">
            <div class="card event-card shadow bg-body-tertiary">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="../static/img/pexels-clem-onojeghuo-104884.jpg" class="img-fluid w-100 rounded-start event-card-img" alt="...">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Street Food Market</h5>
                            <p class="card-text">Order # 123456789</p>
                            <p class="card-text"><small class="text-body-secondary">Booking placed 7:29PM 29/04/23</small></p>
                            <a type="button" class="btn btn-outline-secondary btn-sm" href="/event">Event details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}