{% extends 'base.html' %}

{% block content %}
<div class="p-4 bg-light shadow mb-4">
    <h1>Create a future event...</h1>
</div>

<div class="container-fluid">

    <!-- Event creation form -->
    
    <div class="mt-5">
        <div class="container-sm">
            <form method="POST" action="{{ url_for('main.create') }}" enctype="multipart/form-data">
                {{ create_form.csrf_token }}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{ create_form.title.label }} {{ create_form.title }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.description.label }} {{ create_form.description }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.image.label(class_="form-label") }} {{ create_form.image(class_="form-control", type="file") }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.dateTime.label(class_="form-label") }} {{ create_form.dateTime(class_="form-control", type="datetime-local") }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.price.label }} {{ create_form.price }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.ticketsAvailable.label }} {{ create_form.ticketsAvailable }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.locationName.label }} {{ create_form.locationName }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.category.label }} {{ create_form.category }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.submit }}
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
{% endblock %}