{% extends 'base.html' %}

{% block content %}
<div class="p-4 bg-light shadow mb-4">
    <h1>Create a future event...</h1>
</div>

<div class="container-fluid">

    <!-- Event creation form -->
    
    <div class="mt-5">
        <div class="container-sm">
            <form method="POST" action="{{ url_for('main.create') }}" enctype="multipart/form-data">
                {{ create_form.csrf_token }}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{ create_form.title.label }} {{ create_form.title }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.description.label }} {{ create_form.description }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.image.label(class_="form-label") }} {{ create_form.image(class_="form-control", type="file") }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.dateTime.label(class_="form-label") }} {{ create_form.dateTime(class_="form-control", type="datetime-local") }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.price.label }} {{ create_form.price }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.ticketsAvailable.label }} {{ create_form.ticketsAvailable }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.locationName.label }} {{ create_form.locationName }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.category.label }} {{ create_form.category }}
                    </li>
                    <li class="list-group-item">
                        {{ create_form.submit }}
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <!-- Event submission toast -->
    <!--
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="submissionToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Event submitted! <a href="/event">View page</a>
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    -->

</div>

<!-- Initialize toast and prevent refresh -->
<!--
<script>
    const toastTrigger = document.getElementById('createEvent')
    const toastSubmit = document.getElementById('submissionToast')

    if (toastTrigger) {
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastSubmit)
        toastTrigger.addEventListener('submit', event => {
            event.preventDefault();
            toastBootstrap.show()
        })
    }
</script>
-->
{% endblock %}