{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <div class="row mb-4">

        <!-- Event image -->
        <div class="col-12 px-0 shadow">
            <img src="{{ event.image }}" class="d-block w-100 event-img" alt="..."> 
        </div>

    </div>

    <div class="row justify-content-center mb-4">
        <!-- Event info -->
        <div class="container-fluid">
            <div class="p-3 shadow bg-body-tertiary rounded-4">
                <h1>{{ event.title }}</h1>

                <div class="row p-3">
                    <h4>${{ event.price }} ea.</h4>
                    <p class="text-muted">{{ event.status }}</p>
    
                    {% if event.status == "Open" %}
                        <!-- Buy form  -->
                        <form method="POST" action="{{ url_for('main.booking', event=event.id) }}" enctype="multipart/form-data">
                            {{ booking_form.csrf_token }}
                            <div class="form-floating mb-1">
                                {{ booking_form.tickets(class="form-control", placeholder="Tickets") }}
                                {{ booking_form.tickets.label }}
                            </div>
                            <div class="d-grid justify-content-end">
                                {{ booking_form.submit(class="btn btn-outline-success btn-sm") }}
                            </div>
                        </form>
                    {% endif %}
                </div>

                <hr />

                <div class="row p-3">
                    <p>{{ event.description }}</p>
                    <strong>{{ event.dateTime }}</strong>
                    <p>{{ event.locationName }}</p>
                    <!-- Cancel button -->
                    {% if event.user_id == current_user.id and event.status != "Cancelled" %}
                    <form action="{{ url_for('main.cancel', id=event.id) }}" method="POST" class="edit-button">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="submit" value="Cancel Event" class="btn btn-outline-danger">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid">
            <div class="p-3 shadow bg-body-tertiary rounded-4">
                <!-- Comment form -->
                <!-- if fails replace with wtf.render_form(form,"/event/{0}/comment".format(event.id)) -->
                <form method="POST" action="{{ url_for('main.comment', event=event.id) }}" enctype="multipart/form-data">
                    {{ comment_form.csrf_token }}
                    <div class="form-floating mb-1">
                        {{ comment_form.content(class="form-control", placeholder="Comment", style="height: 100px") }}
                        {{ comment_form.content.label }}
                    </div>
                    <div class="d-grid justify-content-end">
                        {{ comment_form.submit(class="btn btn-outline-success btn-sm") }}
                    </div>
                </form>

                <!-- Comments -->
                {% for comment in event.comments %}
                <div class="p-2">  
                    <strong>{{comment.user.username}}</strong>
                    <span class="text-muted">&nbsp{{ comment.timestamp.strftime('%Y-%m-%d %H:%M') }}</span>
                    <p>{{ comment.content }}</p>
                </div> 
                {% endfor %}
                
            </div>
        </div>
    </div>

</div>
{% endblock %}