{% extends 'base.html' %}

{% block header %}
    <!-- Jumbotron -->
    <div class="p-5 bg-light" style="background-image: url(../static/img/banner_img.jpg); background-position: center;">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold text-light">Discover your next gourmet adventure.</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Placeholder category buttons -->
    
    <div class="row p-3 shadow bg-body-tertiary" id="categories">
        <div class="col-12">
            <div data-bs-spy="scroll" data-bs-smooth-scroll="true" class="horizontal-scroll" tabindex="0">
                <a type="button" class="btn btn-outline-dark" href="/#categories">All</a>
                {% for category in categories %}
                    <a type="button" class="btn btn-outline-dark" href="{{ url_for('main.category', category=category) }}#categories">{{ category }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Event cards -->
    
    <div class="row mx-3 my-4">
        {% for event in events %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
            <div class="card event-card shadow bg-body-tertiary">
                <img src="{{ event.image }}" class="card-img-top event-card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.dateTime }}<br>{{ event.locationName }}<br>{{ event.price }}</p>
                    <a type="button" class="btn btn-outline-success btn-sm stretched-link" href="{{ url_for('main.event', id=event.id) }}">{{ event.status }}</a>
                </div>
            </div>
        </div>    
        {% endfor %}
    </div>
</div>
{% endblock %}