<html>
<head>
  <meta chatset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="CSS and Python file/style.css">
  <title>Foodie Directions | Login</title>
</head>
<body>
  <div class="box">
      <form action="" method="post">
        <h2>Login</h2>
        <div class="input-field">
          <label for="username">User Name</label>
          <input type="text" class="input" placeholder="Enter Username" required>
        </div>
        <div class="input-field">
          <label for="password">Passsword</label>
          <input type="password" class="input" placeholder="Enter Password" required>
        </div>
        <div class="input-field">
          <button type="submit" class="btn btn2">LogIn</button>
        </div>
        <div class="bottom">
          <div class="left">
            <input type="checkbox" id="check">
            <label for="check">Remember Me</label>
          </div>
          <div class="right">
            <label><a href="#">Forgot password</a></label>
          </div>
        </div>
        <div>
          <label><a href="#">Don't have an account?</a></label>
        </div>
        <div class="alert">
          <p>You may receive SMS notifications from us and can opt out at any time.</p>
        </div>
    </form>
  </div>
</body>
</html>
