
{% extends "base.html" %}

{% block content %}
<!-- Display user's username -->
<div class="page-header mt-2 mt-md-5">
    <h3>Welcome {{ user.username }}</h3>
    <hr />
</div>
<div class="container-fluid">
    <!-- Events created by the user -->
    <h4>Events you're running...</h4>
    <div class="row mx-3 my-4">
        {% if user.events %}
            {% for event in user.events %}
                {% with %}
                    {% set event = event %}
                    {% include "eventCard.html" %}
                {% endwith %}
            {% endfor %}
        {% else %}
            <h5 class="text-muted">You have created no events...</p>
        {% endif %}
    </div>   
    
    <hr />
    <!-- Events booked by the user -->
    <h4>Your bookings...</h4>
    <div class="row mx-3 my-4">
        {% if user.bookings %}
            {% for event in user.bookings %}
                {% with %}
                    {% set event = event %}
                    {% set booking = event %}
                    {% include "eventCard.html" %}
                {% endwith %}
            {% endfor %}
        {% else %}
        
            <h5 class="text-muted">You have no bookings...</h5>
        {% endif %}
    </div>
    
</div>
{% endblock %}
